.color1 {
  background-color: #FDFFE4;
  p {
    color: #474A1C;
  }
}
.color2 {
  background-color: #FEF3C7;
  justify-content: space-between;
  padding-bottom: 0;
  p {
    color: #451A03;
  }
}
.color3 {
  background-color: #FAF8F7;
  padding-right: 0;
  p {
    max-width: 445px;
    padding-right: 40px;
    color: #483D38;
  }
}
.color4 {
  background-color: #FFF0E9;
  p {
    color: #451A03;
  }
}
.color5 {
  background-color: #FAE8FF;
  p {
    color: #4A044E;
  }
}
.color6 {
  background-color: #EDF8FF;
  p {
    color: #082F49;
  }
}
.color7 {
  background-color: #FAF8F7;
  padding-right: 0;
  p {
    color: #451A03;
    padding-right: 40px;
  }
}
