.marquee {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.marquee p {
  display: inline-block;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
