.color1 {
  background-color: #f4f4de;
}
.color2 {
  background-color: #fff6d3;
}
.color3 {
  background-color: #eef8ff;
}
.color4 {
  background-color: #f8ecfc;
}
.color5 {
  background-color: #fbebf4;
}
.color6 {
  background-color: #ffeee1;
}
